 body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: white;    
	background-color:black;
}

#jumbotron{
	background-color:black;
	padding-top: 100px;

}
#facescan{
	background-color:black;
	padding-top: 100px;
}

#enterbutton{
	background-color:black;
	border-color: white;
}

#scanbutton{
	background-color:black;
	border-color: white;
}

#menu{
	background-color: black;
	border: hidden;	
}

#home{
	font-size: 200%;
}

#scan{
	font-size: 200%;
}

#aboutus{
	font-size: 200%;
}

::placeholder {
    font-size: 1.5em;
}
#gif{
	max-width: 100%;
    max-height: 100%;
    width: 200px;
    height: 200px;
}
#sourceImage{
	max-width: 100%;
    max-height: 100%;
	width: 300px;
	height: 310px;
	margin-left: 500px;
	margin-right: 20px;	
	border: 1px;
	border-color: white;
	box-shadow: 1px 1px 1px #aaa;
	float: left;

}
#faceResults p {
	margin: auto;
    font-size: 30px;
    

}
#results{
    clear: both;
    background-color:black;
	border-color: white;
	padding-top: 10px;
	margin-top: 10px;
	margin-left: 565px;
	font-weight: bold;
    }

.movie {
	text-align: center;
	margin: auto;
}
.cast img {
	float: left;
	width: 200px;
	height: 210px;
	max-width: 100%;
    max-height: 100%;
    margin: 0 55px;
}
.similar_movie{
	clear: both;

}
.well, img{
  background-color: black;
  height: auto;
  overflow:auto;
  text-align: center;

}
